:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --link-primary-color: #2196f3;
  --link-seconary-color: #ffffff;
}

/* Общие */
ul {
  list-style: none;
}
body {
    background-color: #E5E5E5;
}
a {
    text-decoration: none;
}

/* Стили header */
.link-current {
  color: var(--link-primary-color);
}
.link-current:hover {
  color: var(--primary-text-color);
}
.link-current:focus {
  color: var(--primary-text-color);
}

.link-nav {
  color: var(--primary-text-color);
}
.link-nav:hover {
  color: var(--link-primary-color);
}
.link-nav:focus {
  color: var(--link-primary-color);
}

.adress-link a {
  color: var(--title-text-color);
}
.adress-link a:hover {
  color: var(--link-primary-color);
}
.adress-link a:focus {
  color: var(--link-primary-color);
}

/* Стили Main */
h1 {
    color: var(--link-seconary-color);
}

.button {
    color: var(--link-seconary-color);
    background-color: var(--link-primary-color);
}
.button:hover {
    color: var(--link-primary-color);
    background-color: var(--link-seconary-color);
}