<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учение</title>
</head>
<body>
    <header>
      <nav>
          <ul>
              <li><a href="">Features</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">Product</a></li>
          </ul>

          <ul>
              <li><a href="">Log in</a></li>
              <li><a href="">Register</a></li>
          </ul>
      </nav></header>
    <section>
        <h1>The Largest community of photo enthusiasts</h1>
        <a href="">Join today</a>
    </section>
    <section>
        <h2>Snap photos and share like<br> never before</h2>
        <ul>
            <li>
                <h3>Sad ut Persities</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing el</p>
        <a href="">join</a></li>
            <li>
                <h3>Lorem 5</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores?</p>
        <a href="">join</a></li>
            <li>
                <h3>Nemo encim</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        <a href="">join</a></li>
            <li>
                <h3>Tempor incent</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        <a href="">join</a></li>
        </ul>
 </section>
<section>
    <h2>Примеры работ</h2>
    <ul>
        <li><img src="WoWScrnShot_010111_155425.jpg" alt="" width="150" ><h3>Set up perciples</h3><p>Lorem ipsum dolor sit.</p></li>
        <li><img src="WoWScrnShot_010111_155425.jpg" alt="" width="150"><h3>conversacion</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, maxime?</p></li>
    </ul>
</section>

<section>
    <h2>You`re in good company</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro.</p>
    <ul>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    <li><a href=""><img src="WoWScrnShot_010111_155425.jpg" alt="" width="40"></a></li>
    </ul>
</section>

<footer>

</footer>
</body>
</html>